# OS-generated hidden files
# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
.fseventsd
.VolumeIcon.icns

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.directory
.Trash-*

# Node (CLI tooling)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# Editor/IDE cruft
*.swp
*.swo
